/node_modules/
/dist/
/src/server/kernel-mod/.*.cmd
/src/server/kernel-mod/Module.symvers
/src/server/kernel-mod/modules.order
/src/server/kernel-mod/cplayground.ko
/src/server/kernel-mod/cplayground.o
/src/server/kernel-mod/cplayground.mod*
/data

.DS_Store
*.swp
/.idea/
/.vagrant/
