$topbar-height: 60px;
$sidebar-width: 225px;
$sidebar-footer-height: 90px;
$sidebar-spacing: 8px;
$pane-padding: 15px;
$layout-transition-time: 0.3s;
$primary-font: 'Montserrat', sans-serif;
$code-font: 'Ubuntu Mono', monospace; // Be sure to set ACE font in JS