.pill {
  font-size: 0.9em;
  background-color: $bright-blue;
  border-radius: 0.9em;
  display: inline-block;

  .pill-text {
    padding: 1px 0.7em;
    display: inline-block;
  }

  .pill {
    margin-right: 0;
    margin-left: -0.2em;
    height: 100%;
  }
}
