html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #352e3c;
    color: #d6dbd8;
}

a, a:visited {
    color: #d6dbd8;
}

/* Make scrollbar background more subtle */
* {
    /* Firefox: */
    scrollbar-color: #cdc6d4 rgba(0, 0, 0, 0.08);
}
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.08);
}
*::-webkit-scrollbar-thumb {
    background-color: #cdc6d4;
    border-radius: 5px;
}

.topbar {
    height: 60px;
    width: 100%;
    background-color: #4f495f;
    border-bottom: 3px solid #5c517b;
    color: #fff;
}

.topbar .btn {
    height: 100%;
    width: 120px;
    position: relative;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: #4f495f;
    transition: background-color 0.3s ease-out;
}

.topbar #settings-btn {
    width: 65px;
    border-right: 1px solid #5c517b;
}

.btn i {
    font-size: 1.1em;
}

.btn .main-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: top 0.3s ease-out;
}

.btn .shortcut {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    font-size: 0.7em;
    width: 100%;
    opacity: 0;
    transition: top 0.3s ease-out, opacity 0.3s ease-out;
}

.topbar .btn:hover {
    background-color: #5c517b;
}

.topbar .btn.disabled:hover {
    background-color: #555065;
    cursor: default;
}

.btn.has-shortcut:hover:not(.disabled) .main-text {
    top: 40%;
}

.btn.has-shortcut:hover:not(.disabled) .shortcut {
    top: 75%;
    opacity: 1;
}

.btn .icon {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

#run-btn .play-icon .filled {
    position: absolute;
    top: 0;
    left: 2px;
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

#run-btn .play-icon:after {
    content: " ";
    position: absolute;
    top: -3px;
    left: -4px;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    opacity: 0;
    transition: opacity 0.2s ease-out 0s;
}

#run-btn.disabled .play-icon:after {
    opacity: 1;
    animation: loading-spinner 1.2s linear infinite;
    transition: opacity 0.3s ease-out 0.2s;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#run-btn.disabled .play-icon .filled {
    opacity: 1;
    transform: scale(0.75, 0.75);
}

#run-btn .play-icon .outline {
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

#run-btn.disabled .play-icon .outline {
    opacity: 0;
    transform: scale(0.75, 0.75);
}

#open-in-cfiddle-btn {
    font-size: 0.8em;
    float: right;
    width: 160px;
}

body:not(.embedded) #edit-btn,
body:not(.embedded) #split-pane-btn,
.show-code-only #edit-btn,
.show-split #split-pane-btn {
    display: none;
}

.primary-container {
    height: calc( 100% - 60px );
    width: 100%;
    position: relative;
}

.code-container, .terminal-container {
    width: 50%;
    height: 100%;
    padding: 15px;
    transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
    position: relative;
    background: #352e3c;
}

.primary-container.open-sidebar .code-container,
.primary-container.open-sidebar .terminal-container {
    width: calc(50% - 112.5px);
}

.primary-container.open-sidebar .code-container {
    margin-left: 225px;
}

/* Single-pane (non-split) view: */

.show-code-only .code-container { width: 100%; padding: 0px; }
.show-code-only .open-sidebar .code-container { width: calc(100% - 225px) }
.show-code-only .terminal-container { position: absolute; visibility: hidden; }
.show-term-only .terminal-container { width: 100%; }
.show-term-only .open-sidebar .terminal-container { width: calc(100% - 225px) }
.show-term-only .code-container { position: absolute; visibility: hidden; }

/* Sidebar code: */

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 15px;
    float: left;
    font-size: 0.8rem;
    overflow-y: auto;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.sidebar-footer-spacer {
    width: 100%;
    height: 75px;  /* Should match footer height */
}

.sidebar-footer {
    background: linear-gradient(to top, #352e3c 0%, #352e3c 50%, rgba(0,0,0,0) 100%);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 225px;
    height: 75px;
    padding: 15px;
    padding-top: 25px;
    text-align: center;
}

.open-sidebar .sidebar {
    opacity: 1;
}

.sidebar h3 {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 8px;
}
.sidebar h3:first-of-type {
    margin-top: 0px;
}

.sidebar select, .sidebar input[type=text] {
    width: 100%;
    background-color: #4f495f;
    border: none;
    border-radius: 3px;
    height: 25px;
    color: inherit;
}

.flag-spacer {
    height: 0.7em;
}

.primary-container .code-container::before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    border-left: 1px solid #5c517b;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.primary-container.open-sidebar .code-container::before {
    opacity: 1;
}

#terminal {
    width: 100%;
    height: 100%;
}

.code-container {
    border-right: 1px solid #5c517b;
    float: left;
}

.terminal-container {
    float: right;
}

#editor {
    height: 100%;
    /* Set font color to the background color, so that the initial code doesn't
     * show until ACE loads. (ACE will override the colors via syntax
     * highlighting.) */
    color: #352e3c;
}

/* ACE editor */
.ace-tm {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 12pt;
}
.ace-tm .ace_gutter {
 background: #352e3c;
 color: #7f8180;
}
.ace-tm .ace_print-margin {
 width: 0px;
 background: #FFF;
}
.ace-tm .ace_fold {
 background-color: #4f495f;
}
.ace-tm {
 background-color: #352e3c;
 color: #d6dbd8;
}
.ace-tm .ace_cursor {
 color: #eee;
}
.ace-tm .ace_entity.ace_name.ace_tag,
.ace-tm .ace_keyword,
.ace-tm .ace_meta.ace_tag,
.ace-tm .ace_storage {
 color: #7daad1;
}

.ace-tm .ace_constant.ace_character,
.ace-tm .ace_constant.ace_language,
.ace-tm .ace_constant.ace_numeric,
.ace-tm .ace_constant.ace_other {
 color: #b294bb;
}

.ace-tm .ace_support.ace_constant,
.ace-tm .ace_support.ace_function {
 color: #87c6be;
}
.ace-tm .ace_support.ace_type,
.ace-tm .ace_support.ace_class {
    font-style: italic;
 color: #87c6be;
}
.ace-tm .ace_keyword.ace_operator {
 color: inherit;
}
.ace-tm .ace_string {
 color: #f0d974;
}
.ace-tm .ace_comment,
.ace-tm .ace_doc {
 color: #707880;
}

.ace-tm .ace_variable {
 color: #d85b7b;
}

.ace-tm .ace_entity.ace_name.ace_function,
.ace-tm .ace_entity.ace_other,
.ace-tm .ace_entity.ace_other.ace_attribute-name {
 color: #92c74d;
}

.ace-monokai .ace_entity.ace_name.ace_tag,
.ace-monokai .ace_keyword,
.ace-monokai .ace_meta.ace_tag,
.ace-monokai .ace_storage {
 color:#d85b7b;
}

.ace-tm .ace_marker-layer .ace_selection {
 background: #4f495f;
}

.ace-tm.ace_multiselect .ace_selection.ace_start {
 box-shadow: 0 0 3px 0px white;
}
.ace-tm .ace_marker-layer .ace_step {
 background: rgb(33, 0, 102)
}
.ace-tm .ace_marker-layer .ace_bracket {
 margin: -1px 0px 0px -1px;
 border: 1px solid #c5c8c6;
}
.ace-tm .ace_marker-layer .ace_active-line,
.ace-tm .ace_gutter-active-line{
 background: rgba(0, 0, 0, 0.07);
}
.ace-tm .ace_marker-layer .ace_selected-word {
 background: none;
 border: 1px solid #707880;
 border-radius: 2px;
}
.ace-tm .ace_indent-guide {
 background: none;
}
